.r6o-geotagging-search {
  display: inline;
  position: relative;
  padding-left: 7px;
}

.r6o-geotagging-search button {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #b6b6b6;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
}

.r6o-geotagging-search button svg {
  vertical-align: middle;
}

.r6o-geotagging-search input {
  background-color: #f5f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  color: #333;
  outline: none;
  padding: 5px 5px 5px 26px;
  width: 55%;
}

.r6o-geotagging-search .rotating {
  animation: rotation 0.8s infinite linear;
  position: absolute;
  right: 5px;
  top: 1px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
