.r6o-geotagging-advanced-container {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  z-index:999999;
  display:flex;
  justify-content:center;
  align-items:center;
}

.r6o-geotagging-advanced-modal {
  position:relative;
  width:80%;
  max-width:640px;
  background-color:#fff;
  border-radius:5px;
  padding:20px;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.r6o-geotagging-advanced-modal main {
  width:100%;
  height:500px;
}

.r6o-geotagging-advanced-modal main .leaflet-container {
  width:100%;
  height:100%;
}
