.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar {
  padding: 10px 5px;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar.expanded {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar button {
  background-color: transparent;
  border: none;
  color: #4f92d7;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  text-decoration: underline;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar button svg {
  font-size: 18px;
  padding-right: 3px;
  vertical-align: text-bottom;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar button.r6o-geotagging-delete {
  background-color: #df0202;
  border-radius: 3px;
  color: #fff;
  margin-right: 5px;
  padding: 4px 10px;
}


.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar button.r6o-geotagging-more svg {
  font-size:21px;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-minimap {
  width: 100%;
}