/**
 * Toolbar styles
 */
.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar {
  padding: 10px 5px;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar.expanded {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar button {
  background-color: transparent;
  border: none;
  color: #4f92d7;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  text-decoration: underline;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar button svg {
  font-size: 18px;
  padding-right: 3px;
  vertical-align: text-bottom;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar .r6o-geotagging-toolbar-left input {
  background-color: #f5f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  color: #333;
  outline: none;
  padding: 5px;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar button.r6o-geotagging-delete {
  background-color: #df0202;
  border-radius: 3px;
  color: #fff;
  margin-right: 5px;
  padding: 4px 10px;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-toolbar button.r6o-geotagging-more svg {
  font-size:21px;
}

/**
 * Minimap styles
 */
.r6o-geotagging.r6o-widget .r6o-geotagging-minimap {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-minimap .r6o-geotagging-minimap-overlay {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.r6o-geotagging.r6o-widget .r6o-geotagging-minimap .r6o-geotagging-minimap-overlay input {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: #343434;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}